body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.avangerbox{
  border: 1px solid black;
}
.container{
  margin-top:20px;
}
.starwar{
  margin-bottom: 30px;
}
.row{
  margin-top: 50px;
}

.box {
  height: 50px;
  width: 50px;
  margin-top:20px;
  background-color: #008CBA;
  border:none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.box:hover{
  opacity: 0.5
}

.card{
  width: 18rem;
  margin-bottom: 5px;
}

.villianText{
  color:red;
}

.avangerText{
  color: blue;
}
.battlebutton > a{
  text-decoration: none;
  color: white;
}

.winnercolor{
  color:green;
}
.alivecolor{
  color:green;
}
a{
  color:white !important
}
.card{
  margin-bottom: 5px;
}